@{
    ViewBag.Title = "Home Page";
}

@section scripts
{   
    <script src="~/libs/home.js"></script>
}

<div class="row centered">
    <div class="jumbotron">
        <h1 class="white">RadAd</h1>
        <p class="lead">Система управления рекламой на радио</p>
    </div>
</div>

<div class="well">
    <h4>Ваш клиент выбирает продолжительность рекламного объявления</h4>

    <div class="panel panel-default">
        <div class="radio-inline">
            <label class="">
                <input type="radio" name="rdDuration" />
                15 секунд
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="rdDuration" />
                20 секунд
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="rdDuration" />
                25 секунд
            </label>
        </div>
        <div class="radio-inline">
            <label>
                <input type="radio" name="rdDuration" />
                30 секунд
            </label>
        </div>
    </div>
</div>
<div class="well">
    <h4>Ваш клиент выбирает время для рекламного объявления</h4>
</div>
<div class="well">
    <h4>Оплачивает его...</h4>
</div>
<div class="well">
    <h4>Загружает контент</h4>
</div>
<div class="well">
    <h4>PROFIT!</h4>
</div>