<div class="margint10">
    <div class="col-lg-6 margint15 centered">
        <div class="panel panel-info">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="margint20 marginb15">
                    <img src="/Content/img/registration/college-radio.jpg" class="img-circle" />
                </div>

                <div class="margint20">
                    <p><b>Регистрация своей радиостанции для участия в подписке на рекламу от ваших клиентов</b></p>
                </div>

                <div class="margint20 marginb15">
                    <a href="#/registration-radio" class="btn-lg btn-primary">Регистрации радиостанции</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 margint15 centered">
        <div class="panel panel-info">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <div class="margint20 marginb15">
                    <img src="/Content/img/registration/radio-client.jpg" class="img-circle" />
                </div>

                <div class="margint20">
                    <p><b>Зарегистрироваться как клиент, подающий рекламу</b></p>
                </div>

                <div class="margint20 marginb15">
                    <a href="#/registration-client" class="btn-lg btn-primary">Регистрация клиента</a>
                </div>
            </div>
        </div>
    </div>
</div>
