<div class="col-lg-6 col-lg-offset-3">
    <div class="marginl15 margint25">

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Менеджер миграций</strong>
            </div>

            <div class="panel-body marginl15 marginr15" ng-show="!loaded">
                <div class="col-md-4">
                    <p>Загрузка миграций...</p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>

            <div class="panel-body marginl15 marginr15" ng-show="loaded">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Проведенные миграции {{ t }}</strong>
                        </div>

                        <div class="panel-body">
                            <div class="alert alert-warning col-md-6" ng-show="migrationInfo.producedMigrations.length == 0">
                                Миграции не проводились
                            </div>
                            <ul ng-repeat="migration in migrationInfo.producedMigrations">
                                <li>Номер версии {{ migration }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Доступные миграции</strong>
                        </div>

                        <div class="panel-body" ng-show="provided != undefined && !provided">
                            <div class="col-md-4">
                                <p>Проведение миграции...</p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                        
                        <form name="migrationForm" novalidate ng-submit="provide()">
                            <div class="panel-body" ng-show="provided == undefined || provided">
                                <div class="btn-group"
                                     ng-class="{ 'error-required' : migrationForm.version.$error.required }">
                                    <div class="btn-group open">
                                        <label>
                                            Провести миграцию на версию:
                                            <select ng-options="version for version in migrationInfo.availableMigrations"
                                                    name="version"
                                                    ng-init="version = ''"
                                                    required
                                                    class="btn btn-default"
                                                    ng-model="version"></select>
                                        </label>

                                    </div>

                                </div>
                                <div class="centered margint10 marginb15">
                                    <input type="submit" class="btn btn-success" value="Провести миграцию"
                                           ng-disabled="migrationForm.$invalid" />
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>